<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	{% block head %}
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	{% endblock %}
</head>
<body class="main-body">
	<div class="main-block-new material-card">
		<img src="http://res.cloudinary.com/dhb9izfva/image/upload/v1507555336/alex-header-email_znw9qt.jpg" style="height: auto; width: 100%">
		<div class="text-center default-main-body">
				<table style="text-align: left; margin-top: 40px;">
					<tr>
						<td>
							<img src="http://res.cloudinary.com/dhb9izfva/image/upload/v1507473743/snbj02qyqnwsuvqweqyt.png" style="height: auto; width: 80px; padding: 8px;" />
						</td>
						<td style="padding: 5px;">
							Your order has been completed and has been shipped with our courier. Please see your order details below:
						</td>
					</tr>
				</table>
				<hr /><br />
				<h4>
					Order: {{number}}
				</h4><br />

				<div style="padding: 20px 10px 60px 10px;">
		      <table style="width:100%;">
		        <tr style="font-size: 16px; margin-bottom: 20px; border-bottom: 2px solid black;">
		          <th style="text-align: left">Item</th>
		          <th style="text-align: center">Qty</th>
		          <th style="text-align: right">Subtotal</th>
		        </tr>
						{% for item in items %}
		        <tr style="border-bottom: 1px solid black;">
		          <td style="text-align: left">
		            <b>{{item.name}}</b><br />
		            {{item.desc}}
		          </td>
		          <td style="text-align: center">{{item.count}}</td>
		          <td style="text-align: right"><a href="" style="text-decoration:none;color:#000000;border:none;">R{{item.subtotal}}</a></td>
		        </tr>
						{% endfor %}
		      </table>
					<h5 style="text-align: right"><b>Total: </b><a href="" style="text-decoration:none;color:#000000;border:none;">R{{total}}</a></h5>
					<div style="text-align: left; padding-top: 20px">
						<h5>SHIPPING DETAILS:</h5>
						<p>
							<b>{{shipper}}:</b> {{shipping_ref}}
						</p>
						<p style="font-size: 10px;">
							Please use the order number above to track your order.
						</p>
					</div>
		    </div>
			</div>

		<div class="grey-footer">
			You have received this email because you made a purchase on Alexander Suits. If you believe you received this in error or if you have queries then please contact us at support@alexandersuits.com
		</div>
	</div>
</body>

</html>
